.chess{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    
  
    
  
    
}
.box1{
    height: 100px;
    width: 100px;
    background-color: rgb(192, 84, 21);
    \
    
}
.box2{
    height: 100px;
    width: 100px;
    background-color: rgb(212, 161, 49);
   
}